(
    tiles: {
        "Ground": (
            weight: 0.3,
            neighbors: {
                "Front": ["Tree", "Fountain"],
                "Back": ["Ground", "Wall"]
            }
        )
    }
)